In [270]:
import pandas as pd
df = pd.read_csv("null_states.csv")
df.head()

,@timestamp,@version,_raw,_time,address,address_soundex,addresses{},city,county,cribl,...,worker.build,worker.ethnicity,worker.eye_color,worker.hair_color,worker.hair_length,worker.height,worker.implants,worker.name,worker.tattoos,zip
0,2019-12-20T18:17:17.106Z,1,"{""worker"":{""ethnicity"":""Chinese"",""breast_size""...",2020-01-23T00:40:37.000+0000,"1121 S Higley Rd, Suite 104 Mesa, AZ, 85206",S4632352,"1121 S Higley Rd, Suite 104 Mesa, AZ, 85206",NaN,Maricopa County,yes,...,Thick,Chinese,Brown,Black,Mid Back,5'0''-5'5'',0.0,Nana,0.0,85206.0
1,2019-12-20T18:17:16.940Z,1,"{""worker"":{""ethnicity"":""Asian"",""breast_size"":""...",2020-01-23T00:40:37.000+0000,"120 Elizabeth Street New York City, NY, 10013",E4213236356235,"120 Elizabeth Street New York City, NY, 10013",NaN,None,yes,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Yuyu,0.0,10013.0
2,2019-12-20T18:17:17.105Z,1,"{""worker"":{""ethnicity"":""Asian"",""breast_size"":""...",2020-01-23T00:40:37.000+0000,"1707 SW 22nd St Miami, FL, 33145",S5323514,"1707 SW 22nd St Miami, FL, 33145",NaN,Miami-Dade County,yes,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Amy,0.0,33145.0
3,2019-12-20T18:17:16.938Z,1,"{""worker"":{""ethnicity"":""Chinese"",""breast_size""...",2020-01-23T00:40:37.000+0000,"10S, 648 Kingery Hwy Willowbrook, IL, 60527",S52641624,"10S, 648 Kingery Hwy Willowbrook, IL, 60527",NaN,DuPage County,yes,...,Average,Chinese,Brown,Black,?,5'0''-5'5'',0.0,Cindy,0.0,60527.0
4,2019-12-20T18:17:16.122Z,1,"{""worker"":{""ethnicity"":""Chinese"",""breast_size""...",2020-01-23T00:40:37.000+0000,"506 Ferry st Little Rock, AR, 72202",F623434626,"506 Ferry st Little Rock, AR, 72202",NaN,Pulaski County,yes,...,Average,Chinese,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Helen,0.0,72202.0

In [271]:
CA_df = df[df["address"].str.contains("CA", case = True)]

In [273]:
bad_rows = []
for row in list(CA_df["address"]):
    if (row.split(","))[-2] != " CA":
        bad_rows.append(row)
        
bad_rows

['214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '214-55 JAMAICA AVE Queens, NY, 11428',
 '8635 W. US HIGHWAY 24 CASCADE 80809 Cascade, CO, 80809']

In [274]:
CA_df = CA_df[~CA_df["address"].isin(bad_rows)]

CA_df.to_csv("fixed_null.csv", index = False)

In [275]:
CA_og = pd.read_csv("CA_rubmaps.csv")

In [276]:
ca_full = pd.concat([CA_og, CA_df]).reset_index(drop=True)

In [277]:
ca_clean = ca_full.drop(['@timestamp', '@version', '_raw', 'address_soundex',
       'addresses{}', 'city', 'county', 'cribl','cribl_pipe', 'imb_urls{}',
              "linecount",'location_hash', 'location_id','source_id',
              'sourcetype', 'splunk_server', 'splunk_server_group',"host", "index",
       'state', 'source', "zip"], axis = 1)

In [278]:
female_names  = list(pd.read_csv("female.firstnames.csv", header = None)[0])

In [280]:
d = ca_clean[ca_clean["worker.name"].isna()]["details"].to_dict()

In [282]:
len(d)

3499

In [283]:
names = []
for name in female_names:
    if type(name) is str:
        if len(name) > 2:
            names.append(name)

In [316]:
names = [e for e in names if e not in ["SEE", "MANY", "LADY", "MISS", "LATINA",
                                       "SOON", "LATINA", "YOUNG", "LOVE", "MAN", "ELSE"]]

In [324]:
def get_key(val): 
    for key, value in d.items(): 
         if val == value: 
            return key 
  
    return "key doesn't exist"

In [334]:
names_d = {}
for index in list(d.keys()):
    details = d.get(index)
    if type(details) is str:
        names_per_details = []
        for word in details.upper().split():
            if word in names:
                if word not in names_per_details:
                        names_per_details.append(word) 
    if len(names_per_details) > 0:
        names_d[index] = names_per_details

In [338]:
list(names_d.values())

[['ROSE'],
 ['LISA'],
 ['HONEY'],
 ['SUNDAY'],
 ['TAMMY'],
 ['MAY'],
 ['LILLY'],
 ['LUCY'],
 ['MARK'],
 ['GOLDEN'],
 ['LINA'],
 ['JASMINE'],
 ['JANUARY'],
 ['MICHELLE'],
 ['SASHA', 'HELEN', 'LILY'],
 ['YUKI'],
 ['ISIS', 'VENUS'],
 ['JOHN', 'NGOC'],
 ['REA'],
 ['HANG'],
 ['SUMMER'],
 ['SOPHIA'],
 ['MANDI'],
 ['TINA'],
 ['MAY', 'ASIA'],
 ['SUN'],
 ['LEA', 'LISA'],
 ['DIAMOND'],
 ['GOLDEN'],
 ['MARY'],
 ['VAN'],
 ['SARAH', 'ROSE', 'JANET'],
 ['SANTA'],
 ['JACK'],
 ['OLIVE', 'LANE'],
 ['BEE'],
 ['MAY'],
 ['BELL'],
 ['MIMI'],
 ['LISA', 'TINA'],
 ['MAY'],
 ['TINA'],
 ['MAY'],
 ['CONNIE'],
 ['MAY'],
 ['MIN'],
 ['BELL'],
 ['JENNIFER'],
 ['HOPE'],
 ['HANG'],
 ['CASSIE'],
 ['CINDY'],
 ['MIN'],
 ['MAY'],
 ['MIN', 'ROSE'],
 ['LISA', 'GINA'],
 ['MAGGIE'],
 ['MAGGIE', 'LEA'],
 ['GARNET'],
 ['LISA', 'JULIE'],
 ['SIERRA'],
 ['MINDY'],
 ['SOPHIA'],
 ['NICOLE'],
 ['ANGEL'],
 ['ANGEL'],
 ['SUSAN'],
 ['AMY', 'DAWN'],
 ['VERONIKA'],
 ['MELISSA'],
 ['DEBBIE'],
 ['ANGEL'],
 ['WENDY'],
 ['TRUDY'],
 ['BEBE'],
 ['EDEN'],
 ['AMY'],
 ['TINY'],
 ['SANDRA'],
 ['JESSICA', 'MIN'],
 ['ANNA'],
 ['TANYA'],
 ['MAY'],
 ['AVA'],
 ['LILY', 'LUCY'],
 ['JENNY'],
 ['MICHELLE'],
 ['MIN'],
 ['JENNY'],
 ['MIA'],
 ['AMY'],
 ['LISA'],
 ['MAY'],
 ['WENDY'],
 ['WENDY'],
 ['JOHN'],
 ['JOSE'],
 ['CHINA'],
 ['KITTY'],
 ['MAY'],
 ['SUMMER'],
 ['CANDY'],
 ['SUMMER'],
 ['VELVET'],
 ['RANDY'],
 ['JAMES'],
 ['LINDA'],
 ['AIDA', 'MICHELLE'],
 ['MARY', 'SUMMER'],
 ['MARY', 'SUMMER'],
 ['BOBBY'],
 ['VAN'],
 ['MICHELLE'],
 ['SPRING'],
 ['ROSE'],
 ['ROSE'],
 ['CRYSTAL'],
 ['LINA'],
 ['MAE'],
 ['MAY'],
 ['GALE'],
 ['MAY'],
 ['LINDA', 'HOPE'],
 ['SUE'],
 ['JACKIE'],
 ['BELL', 'MAY'],
 ['TRACY'],
 ['JACKIE', 'MONA'],
 ['SHIRLEY', 'HAN'],
 ['LEO'],
 ['KITTY'],
 ['CINDY', 'LISA'],
 ['MAY', 'MIN'],
 ['ANGELA', 'NANCY'],
 ['CHI'],
 ['AMY', 'NANCY'],
 ['SUNDAY'],
 ['MIMI'],
 ['JESSICA'],
 ['ROSE'],
 ['BELLA', 'SUMMER'],
 ['JASMINE'],
 ['NINA'],
 ['LINDA'],
 ['GRACE'],
 ['MAY', 'BELLA'],
 ['KIM'],
 ['CANDY'],
 ['IVY'],
 ['TIFFANY', 'MIN'],
 ['LANA'],
 ['BELLA', 'SANDRA'],
 ['IVY'],
 ['BRIANNA', 'MIN'],
 ['SALLY'],
 ['LUCY'],
 ['BELL'],
 ['MERRY'],
 ['KITTY', 'HAN', 'MIN'],
 ['EMILY', 'KIM', 'NANCY'],
 ['KIM'],
 ['TRUDIE'],
 ['STAR'],
 ['GRACE'],
 ['LILLY'],
 ['MAY'],
 ['SANDY', 'MIN'],
 ['SANTA'],
 ['KITTY'],
 ['ADA', 'ANNA'],
 ['CINDY'],
 ['SABRINA'],
 ['CHRISTIAN'],
 ['CHARITY'],
 ['LUCY'],
 ['DEBBIE'],
 ['MAY'],
 ['BELL', 'MAY'],
 ['TINA'],
 ['MAY', 'HOPE'],
 ['MAY'],
 ['ELLA'],
 ['EDEN'],
 ['TINA'],
 ['MIN'],
 ['MIN'],
 ['MIN'],
 ['HANG'],
 ['STAR', 'MAY'],
 ['ELLIS'],
 ['KITTY'],
 ['KITTY'],
 ['HARMONY', 'CINDY'],
 ['STEPHANIE'],
 ['STEPHANIE'],
 ['JOYCE', 'MIMI'],
 ['JAN', 'MAY'],
 ['SUN'],
 ['FLO'],
 ['CINDY'],
 ['MIN'],
 ['LILY'],
 ['LILY'],
 ['SUNDAY'],
 ['MAGNOLIA'],
 ['BELL'],
 ['BELL'],
 ['KITTY'],
 ['LILLY'],
 ['BELL'],
 ['ANGEL'],
 ['JOHNNY'],
 ['STAR'],
 ['WILLOW'],
 ['TINA'],
 ['SUSAN'],
 ['TINA'],
 ['SEPTEMBER'],
 ['MONA', 'IMA'],
 ['WENDY'],
 ['GOLDEN'],
 ['TIFFANY'],
 ['DENISE'],
 ['HELEN'],
 ['WENDY'],
 ['BLOSSOM'],
 ['YOKO'],
 ['JOAN'],
 ['CINDERELLA'],
 ['CINDERELLA'],
 ['CHRISTIAN'],
 ['LISA'],
 ['MIN'],
 ['JIMMY'],
 ['JUDY', 'SUSAN'],
 ['SUNDAY'],
 ['BELL'],
 ['BELL'],
 ['SUMMER'],
 ['CHERRY'],
 ['TINA'],
 ['LINDA'],
 ['JACK'],
 ['ANNIE'],
 ['KELLY'],
 ['MAY'],
 ['ANGEL'],
 ['ALICE'],
 ['TINA'],
 ['MAY'],
 ['JEN'],
 ['AMY'],
 ['TINA'],
 ['WENDY'],
 ['MAY'],
 ['IVY'],
 ['NADIA'],
 ['MAY'],
 ['MAY'],
 ['GRACE'],
 ['HUI', 'DONNA', 'MAY'],
 ['JESSICA'],
 ['NICOLE'],
 ['MAY'],
 ['MAY'],
 ['SANTA', 'CLARITA'],
 ['SUNNY'],
 ['MAY'],
 ['SARAH'],
 ['MAY'],
 ['GINA'],
 ['LINDA'],
 ['CANDICE'],
 ['TINA'],
 ['SELENA', 'MIMI'],
 ['MIMI'],
 ['SANTA', 'MONICA'],
 ['SOPHIE'],
 ['UNA'],
 ['TIFFANY'],
 ['JACK'],
 ['EDA'],
 ['HOPE'],
 ['JENNIFER', 'MIN'],
 ['MIN'],
 ['JENNIFER', 'MIN'],
 ['DREW'],
 ['TINY'],
 ['JUNE', 'BELL'],
 ['HOPE'],
 ['PENNY', 'MARIE'],
 ['ANA'],
 ['GRACE', 'EMILY'],
 ['PAGE'],
 ['MIN', 'GINA'],
 ['NINA'],
 ['LILY'],
 ['CINDY'],
 ['TRAVIS'],
 ['MIN'],
 ['STAR'],
 ['LILLY'],
 ['JOHN'],
 ['CHINA'],
 ['BELL'],
 ['ANNIE'],
 ['SON', 'MIN'],
 ['WENDY', 'HELEN'],
 ['ANGELA', 'MIN'],
 ['SOO'],
 ['JENNY'],
 ['GOLDEN'],
 ['SUN'],
 ['CINDY'],
 ['SANTA'],
 ['LEO'],
 ['BEVERLY'],
 ['BEVERLY'],
 ['ANGELES'],
 ['BEVERLY', 'VIRGIL'],
 ['HOPE'],
 ['TINY'],
 ['LISA', 'CINDY', 'TINA'],
 ['LILY'],
 ['TINY'],
 ['BOK'],
 ['GAIL'],
 ['BELL'],
 ['SUN', 'KITTY'],
 ['ASIA'],
 ['NATALIE'],
 ['AMY'],
 ['MAY'],
 ['MIN'],
 ['SUN'],
 ['CANDY'],
 ['LUCY'],
 ['GABRIEL'],
 ['MIN'],
 ['LILY'],
 ['LEAN'],
 ['BLOSSOM'],
 ['MAY'],
 ['JENNY'],
 ['MAY'],
 ['SOO'],
 ['SELINA'],
 ['MIN'],
 ['TINY', 'IRISH'],
 ['SARAH'],
 ['MERCEDES'],
 ['HELEN', 'VIVIAN'],
 ['AMY'],
 ['GREGORY'],
 ['MIN'],
 ['MARIBEL', 'KITTY', 'MIN'],
 ['HOPE'],
 ['JOHANNA', 'TINY'],
 ['TINY'],
 ['EMMA'],
 ['STAR'],
 ['RUBY'],
 ['TINA', 'JULIE'],
 ['TINY'],
 ['MAY'],
 ['TRACY'],
 ['SUNDAY'],
 ['MAY'],
 ['TIFFANIE'],
 ['HOPE'],
 ['BEE', 'ANGLE'],
 ['GRACIE', 'MAY', 'HOPE'],
 ['SALLY'],
 ['SUNNY'],
 ['LILY'],
 ['STAR'],
 ['KITTY'],
 ['KITTY'],
 ['NADA'],
 ['ALLIE'],
 ['LINDA'],
 ['KITTY'],
 ['LULU'],
 ['MAY'],
 ['JADE', 'HOPE'],
 ['MIN'],
 ['PAGE'],
 ['HOPE'],
 ['SUNDAY'],
 ['NINA'],
 ['TINA', 'HOPE'],
 ['KITTY'],
 ['MAY'],
 ['CHRISTIAN'],
 ['NANCY', 'CINDY'],
 ['MICHELLE'],
 ['JULIE'],
 ['SUNSHINE'],
 ['JIMMY'],
 ['JESSICA'],
 ['MIN'],
 ['MAGNOLIA'],
 ['BELL', 'MAGNOLIA'],
 ['PAGE'],
 ['ANNIE'],
 ['CRYSTAL'],
 ['SOFIA', 'CARLA'],
 ['STAR'],
 ['GABRIEL'],
 ['IRENE'],
 ['SHANNON'],
 ['CINDY'],
 ['SOPHIA'],
 ['TRAVIS'],
 ['VICKI'],
 ['MAY'],
 ['PAM', 'TANYA'],
 ['MIN'],
 ['MIN'],
 ['SONG'],
 ['JENNY'],
 ['MAY'],
 ['KATHY'],
 ['MAY'],
 ['GOLDEN'],
 ['MAY'],
 ['EMILY'],
 ['TINA'],
 ['ALISHA'],
 ['MIN'],
 ['MICHELLE'],
 ['AMY', 'LINDA'],
 ['LINDA', 'CHRISTINE', 'MAY'],
 ['MIN'],
 ['BELL'],
 ['WENDY'],
 ['HOPE'],
 ['MAY'],
 ['MAY'],
 ['MIN'],
 ['JESSICA'],
 ['JENNY'],
 ['MIN'],
 ['EVA'],
 ['HOPE'],
 ['CHERRY'],
 ['MIN'],
 ['JANUARY'],
 ['ROSE'],
 ['SUNDAY'],
 ['GINA'],
 ['LILY', 'GLENDORA'],
 ['SUN'],
 ['LEE'],
 ['VAN'],
 ['MIN'],
 ['JULIE'],
 ['KITTY'],
 ['IVY'],
 ['BELLA'],
 ['HOPE'],
 ['NANA'],
 ['NANA'],
 ['STAR'],
 ['NANA'],
 ['APRIL'],
 ['VENICE'],
 ['MAI'],
 ['MIN'],
 ['LISA'],
 ['HOPE'],
 ['EMILY'],
 ['MAI'],
 ['LINDA', 'TINY'],
 ['LINDA'],
 ['DIANA'],
 ['MIMI'],
 ['MIMI'],
 ['MIMI'],
 ['MIA'],
 ['MIN'],
 ['IVY', 'MINDY'],
 ['SUNDAY'],
 ['CAROL'],
 ['NANCY'],
 ['AMY'],
 ['LISA'],
 ['LISA'],
 ['MIN'],
 ['BELL'],
 ['JACK'],
 ['ANNIE'],
 ['SHU', 'SPRING'],
 ['BELL'],
 ['MIN'],
 ['MIN'],
 ['HOPE'],
 ['TINA', 'KELLY', 'NELLY'],
 ['BELL'],
 ['LILY'],
 ['HOPE'],
 ['MAY'],
 ['BELL'],
 ['AMY'],
 ['MIN'],
 ['MIA'],
 ['STAR'],
 ['TINY'],
 ['SUNNY'],
 ['AMY']]

In [340]:
ca_clean[ca_clean.index.isin(names_d.keys())]["worker.name"] = list(names_d.values())

/Users/michalgolovanevsky/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [355]:
for index in names_d.keys():
    ca_clean.at[index, "worker.name"] = names_d.get(index)

In [356]:
ca_clean[ca_clean.index.isin(names_d.keys())]["worker.name"]

180         [ROSE]
686         [LISA]
969        [HONEY]
1319      [SUNDAY]
2181       [TAMMY]
            ...
137793       [MIA]
137977      [STAR]
138369      [TINY]
139106     [SUNNY]
139228       [AMY]
Name: worker.name, Length: 510, dtype: object

In [357]:
ca_clean

,_time,address,details,eventtype,extra_tip,geo.lat,geo.lon,more_details,name{},paid_to_house,...,worker.breast_size,worker.build,worker.ethnicity,worker.eye_color,worker.hair_color,worker.hair_length,worker.height,worker.implants,worker.name,worker.tattoos
0,2020-01-23T00:40:37.000+0000,"3769 Peralta Blvd Fremont, CA, 94536","Came in for a massage, left with a HE.",NaN,45,37.559550,-122.00554,"Came in for a massage, Vicki greeted me, gave ...",Princess Salon,60,...,D,Average,Asian,Brown,Black,?,5'0''-5'5'',0.0,Vicki,0.0
1,2020-01-23T00:40:37.000+0000,"4411 Mercury St, Suite 104 San Diego, CA, 92111",Anna answers the phone and tells me her next a...,NaN,40,32.820590,-117.14837,Came in during the lunch break and just wanted...,Mercury Spa,30,...,B,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Anna,0.0
2,2020-01-23T00:40:37.000+0000,"5604 El Cajon Blvd San Diego, CA, 92115",Dude at the reception is very chatty but nice....,NaN,50,32.758680,-117.07471,Massage was alright. \n\r\nI had a nice little...,Miracle Oasis,100,...,B,Average,Latina,NaN,Black,Shoulder Length,5'0''-5'5'',0.0,Jasmine,0.0
3,2020-01-23T00:40:37.000+0000,"13912 Francisquito Ave Baldwin Park, CA, 91706",Blue was the provider. She was very attractive...,NaN,100,34.067345,-117.97249,Ivy spa- Korean girl Blue\n\r\nThe place was i...,A-1 Acupuncture\nIvy Massage,60,...,C,Average,Korean,Brown,Brown,Long,5'0''-5'5'',0.0,Blue,0.0
4,2020-01-23T00:40:37.000+0000,"3340 Coach Ln Cameron Park, CA, 95682",Orient is the closest AMP to me but I have nev...,NaN,40,38.658085,-120.97239,"Nice tits, make sure to ask her to pull them o...",Orient Massage,40,...,C,Average,Chinese,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,I did not ask,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139312,2020-01-23T00:29:11.000+0000,"12128 Beach Blvd. Stanton, CA, 90680",Nice place... Looks new.,NaN,60,33.786000,-117.99225,My first visit here was a pleasant surprise. V...,Delight Day Spa\nTulip Massage,50,...,C,Average,Vietnamese,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Kathy,0.0
139313,2020-01-23T00:29:11.000+0000,"1535 Olympic Blvd, 2nd Flr. Walnut Creek, CA, ...",The session felt very private to me however th...,NaN,10,37.896010,-122.06073,Yoyo was attractive and certainly a girl that ...,Olympic Spa,45,...,B,Thin,Chinese,Brown,Black,Long,5'0''-5'5'',0.0,Yoyo,0.0
139314,2020-01-23T00:29:10.000+0000,"509 8th St Oakland, CA, 94607",New in town - had a good session here. I plan ...,NaN,40,37.800630,-122.27537,I am new in town and was just checking out the...,Telegraph Massage Center\ncoco Spa\nCoco Spa,45,...,B,Average,Chinese,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Wendy,0.0
139315,2020-01-23T00:28:34.000+0000,"79 Grove Ave Upland, CA, 91786","Just to be clear, this is listed here as 'Pain...",NaN,60,34.094390,-117.62903,It was a late Sunday night in a very quiet nei...,Pain clinic,50,...,B,Average,Chinese,NaN,Red,Shoulder Length,5'0''-5'5'',NaN,CoCo,NaN
139316,2020-01-23T00:28:17.000+0000,"79 Grove Ave Upland, CA, 91786",It's hard to talk when your mouth is full. Fun...,NaN,100,34.094390,-117.62903,I have been here a half dozen times now. On th...,Pain clinic,50,...,A,Average,Chinese,Brown,Black,?,5'0''-5'5'',0.0,Tina,0.0